{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <link rel="shortcut icon" href="{% static 'images/logo5.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  <script  src="{% static '/js/index.js' %}"></script>
</head>

<body>
  {% include 'blog/navbar.html' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 px-1  bg-dark position-fixed" >
        <ul class="sidebar-navigation">
          <li class="header">Categories</li>
          <li>
            <a href="/tag/books/">
            <i class="fa fa-book" aria-hidden="true"></i> Books</a>
          </li>
          <li>
            <a href="/tag/fun/">
            <i class="fa fa-gift" aria-hidden="true"></i> Fun</a>
          </li>
          <li>
            <a href="/tag/history/">
            <i class="fa fa-university" aria-hidden="true"></i> History</a>
          </li>
          <li>
            <a href="/tag/music/">
            <i class="fa fa-music" aria-hidden="true"></i> Music</a>
          </li>
          <li>
            <a href="/tag/sport/">
            <i class="fa fa-bicycle" aria-hidden="true"></i> Sport</a>
          </li>
          <li>
            <a href="/tag/technology/">
            <i class="fa fa-laptop" aria-hidden="true"></i> Technology</a>
          </li>
          <li class="header">Menu</li>
          <li data-toggle="collapse" data-target="#friends" class="collapsed active">
            <a style="color:lightblue;" >
            <i class="fa fa-users" aria-hidden="true"></i> Friends<i  class="fa fa-arrow-circle-down" id="arrow" aria-hidden="true"></i></a>
          </li>
          <ul class="sub-menu collapse" id="friends">
            <li class="active"><a href="#">Friend1</a></li>
            <li><a href="#">Friend2</a></li>
            <li><a href="#">Friend3</a></li>
            <li><a href="#">Friend4</a></li>
          </ul>
          <li data-toggle="collapse" data-target="#settings" class="collapsed">
            <a style="color:lightblue;">
            <i class="fa fa-cog"  aria-hidden="true"></i> Settings<i  class="fa fa-arrow-circle-down" id="arrow" aria-hidden="true"></i></a>
          </li>
          <ul class="sub-menu collapse" id="settings">
            <li><a href="#">Resolution</a></li>
            <li><a href="#">Font</a></li>
            <li><a href="#">Colors</a></li>
          </ul>
          <li>
            <a style="color:lightblue;">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Information</a>
           </li>
        </ul>
      </div>
      <div class="col offset-3" id="main">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
<!--- Footer --->
  {% include 'blog/footer.html' %}
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>


