<br>
<footer>
	<div class="jumbotron jumbotron-fluid p-2 mt-2 mb-0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">						
					<div class="card-body text-light text-center ">
						<p class="d-inline lead">My Blog © 2020<br>
						</p>
					</div>						
				</div>					
				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
					<div class="card-body text-center">
						<a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>remek.kosiorek@gmail.com</a>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card-body text-center">
						<a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
						<a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>	
						<a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
						<a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
						<a class="text-light" href="#"><i class="fa fa-youtube-play fa-fw fa-2x"></i></a>
					</div>
				</div>	
			</div>
		</div>
	</div>
</footer>

